<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>What To Wear</title>
  </head>
  <body style="padding:5px;">

    <form class="form-horizontal" method="post" action="/senttext">
      <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">Phone number</label>
        <div class="col-sm-10">
          <input type="tel" class="form-control" id="inputPhone" placeholder="Phone number" name="phone_number">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>

  </body>
</html>
